
<div class="carousel"> 
  <ul> 
    <li style="background-image: url(images/1.png)"><span>7.6</span><span>536 VOTED</span>
      <h3>Home Again</h3>
    </li>
    <li style="background-image: url(images/2.png)"><span>7.6</span><span>536 VOTED</span>
      <h3>Home Again</h3>
    </li>
    <li style="background-image: url(images/3.png)"><span>7.6</span><span>536 VOTED</span>
      <h3>Home Again</h3>
    </li>
    <li style="background-image: url(images/4.png)"><span>7.6</span><span>536 VOTED</span>
      <h3>Home Again</h3>
    </li>
    <li style="background-image: url(images/5.png)"><span>7.6</span><span>536 VOTED</span>
      <h3>Home Again</h3>
    </li>
  </ul>
</div>