
<section>
  <ul class="news"> 
    <li><a href="#" class="row"> 
        <div style="background-image: url(images/celeb-1.png)" class="col-lg-2 left"></div>
        <div class="col-lg-8 right"> 
          <div class="top"> <span>11 hours ago</span><span>The Hollywood Reporter - TV News</span></div>
          <div class="middle"> 
            <h3>Emmys: 'Handmaid's Tale' Emerges as Big Winner in Night of New Faces</h3>
          </div>
          <div class="bottom"> 
            <p>Game of Thrones may now have a bigger Emmy obstacle than the exhaustive production schedule that kept it from being eligible for the 2017 show. The TV Academy is quite fond of a new drama…</p>
          </div>
        </div></a></li>
    <li><a href="#" class="row"> 
        <div style="background-image: url(images/celeb-2.png)" class="col-lg-2 left"></div>
        <div class="col-lg-8 right"> 
          <div class="top"> <span>11 hours ago</span><span>The Hollywood Reporter - TV News</span></div>
          <div class="middle"> 
            <h3>Emmys: 'Handmaid's Tale' Emerges as Big Winner in Night of New Faces</h3>
          </div>
          <div class="bottom"> 
            <p>Game of Thrones may now have a bigger Emmy obstacle than the exhaustive production schedule that kept it from being eligible for the 2017 show. The TV Academy is quite fond of a new drama…</p>
          </div>
        </div></a></li>
    <li><a href="#" class="row"> 
        <div style="background-image: url(images/celeb-3.png)" class="col-lg-2 left"></div>
        <div class="col-lg-8 right"> 
          <div class="top"> <span>11 hours ago</span><span>The Hollywood Reporter - TV News</span></div>
          <div class="middle"> 
            <h3>Emmys: 'Handmaid's Tale' Emerges as Big Winner in Night of New Faces</h3>
          </div>
          <div class="bottom"> 
            <p>Game of Thrones may now have a bigger Emmy obstacle than the exhaustive production schedule that kept it from being eligible for the 2017 show. The TV Academy is quite fond of a new drama…</p>
          </div>
        </div></a></li>
  </ul>
  <div class="read-more"> <a href="#">Read More...</a></div>
</section>