include header 
section.container(style="margin: 50px auto;")
  .group-form
    b Login
    form(action="index.html")
      input(type="email", placeholder="Email")
      input(type="password", placeholder="Password")
      input(type="submit", value="SUBMIT")
  .group-form
    b Register
    form(action="index.html")
      input(type="email", placeholder="Email")
      input(type="password", placeholder="Password")
      input(type="text", placeholder="Full Name")
      textarea(rows="5", placeholder="Address")
      input(type="submit", value="SUBMIT")
include footer 